 table {
            border-collapse: separate;
            border-spacing: 5px;
        }
        th, td {
            border: 2px solid #ddd;
            padding: 10px;
            text-align: left;
            border-radius: 5px;
            background-color: #f9f9f9;
            font-weight: bold;
        }
        th {
            background-color: #ffffff;
            font-weight: bold;
            font-size: 20px;
        }
        .white-cell {
            background-color: #ffffff;
        }
        .grey-cell {
            background-color: #f2f2f2;
        }